# Prerequisites
*.d

#code
#include <bits/stdc++.h>
using namespace std;
string convert_ASCII(string hex){
   string ascii = "";
   for (size_t i = 0; i < hex.length(); i += 2)
   {
      string part = hex.substr(i, 2);
      char ch = stoul(part, nullptr, 16);
      ascii += ch;
   }
   return ascii;
}
int main()
{
    string hex;
    cout<<"enter the hex";
    cin>>hex;
    cout<<"entered string is\n"<<hex;
    cout<<"\n";
   cout << convert_ASCII(hex) << endl;
   return 0;
}
#code
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
