# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#include <iostream>
#include <string>
using namespace std;
int main()
{
    string ae="ae";
    string x;
    char first,sec;
    cout<<"enter a string";
    getline(cin,x);
    first=x[0];
    sec=x[1];
    cout<<x.substr(2)+first+sec+ae;

    return 0;
}
